certifi==2020.12.5
chardet==4.0.0
idna==2.10
requests==2.25.1
urllib3==1.26.4
yarg==0.1.9
docx==0.2.4
docx2pdf==0.1.7
Flask==1.1.2
pdf2image==1.14.0
Pillow==8.2.0
plac==1.3.3
pymongo==3.11.3
pytesseract==0.3.7
spacy==3.0.5
tqdm==4.60.0
dnspython==2.1.0
gunicorn==20.1.0
